/* Reset ================================================================================= */
* { margin:0; padding:0; } 



/* Headings */

h1,h2,h3,
h4,h5,h6      { margin:0 0 5px; line-height:1.35; color:#0a263c; }
h1            { font-size:20px; font-weight:normal; }
h2            { font-size:18px; font-weight:normal; }
h3            { font-size:16px; font-weight:bold; }
h4            { font-size:14px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }


/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
/* ======================================================================================= */
body{
    font-family: 'Ubuntu',sans-serif !important;
    font-size: 13px !important;
    color: #555 !important;
    background-color:#ffffff !important;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Dosis',sans-serif !important;
    font-size: 22px !important;
    color:#ffffff !important;
}
.search_details h1, 
.search_details h2, 
.search_details h3, 
.search_details h4, 
.search_details h5, 
.search_details h6{
    color:#8ab367 !important;
}
a:hover {
    color: #f60 !important;
}
.displaynone{
    display:none;
}
.clr{
    clear:both;
}
.hundrd{
    width: 95%;
    margin: auto;
    padding: 0;
    background: transparent;
    height: auto;
    box-shadow: 0px 0px 3px #888888;
    -webkit-box-shadow: 0px 0px 3px #888888;
    -moz-box-shadow: 0px 0px 3px #888888;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.tasks{
    background: #376f32;
    width: 86%;
    margin: auto;
    border: 1px solid #75b76d;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
}
.tasks h2{
    background: #2b4b26;
    padding: 5px;
    width: 100%;
    margin-left: -5px;
    margin-top: -4px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;

    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
}
.tasks ul{
    margin-left:-15px;
}
.navigation, 
.view{
    margin-top:15px;
}
.tasks ul, 
.view ul, 
.navigation ul {
    margin-left:-5px;
}
.tasks ul li, 
.view ul li{
    list-style:none;
    background-repeat:no-repeat;
    background-size:16px 18px;
    background-position: 7px 4px;
}
h2.head_task{
    margin-left: 10px;
    color: #ffffff;
}
/*.general ul li, */
.tasks ul li{
    background-size:18px 20px;
    line-height: 20px;
    padding-top: 3px;
    background-repeat:no-repeat;
}
/*
.general ul li{
        background-position:10px 10px;
}
*/
.details_nav ul li{
    background-size:19px 17px;
    line-height: 20px;
    padding-top: 3px;
    background-repeat:no-repeat;
    background-position:0px 4px;
}
.navigation ul li{
    list-style:none;
    height:38px;
    padding-top:10px;
    margin:5px 0;
    background-repeat:no-repeat;
    background-size:35px 28px;
    background-position: 7px 4px;
    border: 1px solid #ccc;
    width: 90%;
    margin: 5px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color:#376f32;
}
.view ul li, 
.navigation ul li:hover{
    background-color:transparent;
}
.view ul li a, 
.navigation ul li a{
    padding-left:50px;
    color:#fff;
    text-decoration:none;
}
.tasks ul li a, 
.view ul li a{
    text-decoration:none;
    color:#ffffff;
    padding-left:30px;
}
.details_nav{
    position: relative;
    margin: 5px;
    height: 25px;
}
.more_link .fl{
    position: relative;
    margin-top: 5px;
}
.details_nav ul li a{
    padding-left:21px;
    color:#ffffff !important;
}
.details_nav ul li:nth-child(1){background-image:url(../images/new.png);}
.details_nav ul li:nth-child(2){background-image:url(../images/save.png);}
.details_nav ul li:nth-child(3){background-image:url(../images/print.png);}
.details_nav ul li:nth-child(4){background-image:url(../images/duplicate.png);}
.details_nav ul li:nth-child(5){background-image:url(../images/versions.png);}
.details_nav ul li:nth-child(6){background-image:url(../images/add_sticky.png);}
.details_nav ul li:nth-child(7){background-image:url(../images/close.png);float:right;}

.general ul li,
.sales ul li,
.purchasing ul li,
.inventory ul li{
    background-repeat: no-repeat;
    background-size: 28px 31px;
    background-position: 0px -1px;
    border: 0px solid #ccc;
    width: 78%;
    height: 31px;
    margin: 5px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: transparent;
    padding-left: 28px;
    margin-left: 10px;
}
.inventory ul li:nth-child(1){background-image:url(../images/inv1.png);}
.inventory ul li:nth-child(2){background-image:url(../images/inv2.png);}
.inventory ul li:nth-child(3){background-image:url(../images/inv3.png);}
.inventory ul li:nth-child(4){background-image:url(../images/inv4.png);}
.inventory ul li:nth-child(6){background-image:url(../images/inv5.png);}
.inventory ul li:nth-child(7){background-image:url(../images/inv6.png);}
.inventory ul li:nth-child(9){background-image:url(../images/inv7.png);}
.inventory ul li:nth-child(10){background-image:url(../images/inv8.png);}
.inventory ul li:nth-child(11){background-image:url(../images/inv9.png);}
.inventory ul li:nth-child(13){background-image:url(../images/inv10.png);}
.inventory ul li:nth-child(14){background-image:url(../images/inv11.png);float:right;}

.general ul li:nth-child(1){background-image:url(../images/general1.png);}
.general ul li:nth-child(2){background-image:url(../images/general2.png);}
.general ul li:nth-child(3){background-image:url(../images/general3.png);}
.general ul li:nth-child(5){background-image:url(../images/general4.png);}
.general ul li:nth-child(6){background-image:url(../images/general5.png);}
.general ul li:nth-child(8){background-image:url(../images/general6.png);}
.general ul li:nth-child(9){background-image:url(../images/general7.png);}
.general ul li:nth-child(10){background-image:url(../images/general8.png);}


.purchasing ul li:nth-child(1){background-image:url(../images/purchase1.png);}
.purchasing ul li:nth-child(2){background-image:url(../images/purchase_33.png);}
.purchasing ul li:nth-child(9){background-image:url(../images/purchase3.png);}
.purchasing ul li:nth-child(10){background-image:url(../images/purchase4.png);float:right;}

.sales ul li:nth-child(1){background-image:url(../images/sales1.png);}
.sales ul li:nth-child(2){background-image:url(../images/sales2.png);}
.sales ul li:nth-child(3){background-image:url(../images/sales3.png);}
.sales ul li:nth-child(10){background-image:url(../images/sales4.png);}
.sales ul li:nth-child(11){background-image:url(../images/sales5.png);float:right;}


/*.general ul li:nth-child(1), */
.tasks ul li:nth-child(1){
    background-image:url(../images/new_quote.png);
}
/*.general ul li:nth-child(2), */
.tasks ul li:nth-child(2){
    background-image:url(../images/sales.png);
}
/*.general ul li:nth-child(3), */
.tasks ul li:nth-child(3){
    background-image:url(../images/process_orders.png);
}
/*.general ul li:nth-child(4), */
.tasks ul li:nth-child(4){
    background-image:url(../images/invoice_orders.png);
}
/*.general ul li:nth-child(5), */
.tasks ul li:nth-child(5){
    background-image:url(../images/invoice_orders.png);
}
/*.general ul li:nth-child(6), */
.tasks ul li:nth-child(6){
    background-image:url(../images/customers.png);
}
div.home{
    background-image: url('../images/home1.png');
    height: 47px;
    width: 60px;
    float: left;
    position: relative;
    background-size: 57%;
    background-repeat: no-repeat;
    margin: 7px 0 4px 0;
    background-position: 10px 6px;
}
div.home a,
div.home a:hover
{
    display: block;
    height: 40px;
    width: 50px;
    color: transparent !important;
}
.navigation ul li:nth-child(1){background-image:url(../images/home.png);}
.navigation ul li:nth-child(2){background-image:url(../images/sales.png);}
.navigation ul li:nth-child(3){background-image:url(../images/purchasing.png);}
.navigation ul li:nth-child(4){background-image:url(../images/inventory.png);}
.navigation ul li:nth-child(5){background-image:url(../images/reports.png);}

.view ul li:nth-child(1){background-image:url(../images/sales_orders.png);}
.view ul li:nth-child(2){background-image:url(../images/customers.png);}

.quote_list_nav_bottom ul li:nth-child(1){background-image:url(../images/new.png);}
.quote_list_nav_bottom ul li:nth-child(2){background-image:url(../images/DeleteRed.png);}
.quote_list_nav_bottom ul li:nth-child(3){background-image:url(../images/edit_notes.png);}
.quote_list_nav_bottom ul li:nth-child(4){background-image:url(../images/duplicate.png);}
.quote_list_nav_bottom ul li:nth-child(5){background-image:url(../images/versions.png);}
.quote_list_nav_bottom ul li:nth-child(6){background-image:url(../images/add_sticky.png);}
.quote_list_nav_bottom ul li:nth-child(7){background-image:url(../images/close.png);}
.quote_list_nav_bottom ul li:nth-child(8){background-image:url(../images/print.png);}
.quote_list_nav_bottom ul li:nth-child(9){background-image:url(../images/duplicate.png);}
.quote_list_nav_bottom ul li:nth-child(10){background-image:url(../images/versions.png);}
.quote_list_nav_bottom ul li:nth-child(11){background-image:url(../images/add_sticky.png);}

.quote_list_nav_bottom ul li{background-repeat:no-repeat;}


.supplier ul li:nth-child(1){background-image:url(../images/add.png);}
.supplier ul li:nth-child(2){background-image:url(../images/edit_notes.png);}
.supplier ul li:nth-child(3){background-image:url(../images/DeleteRed.png);}
.supplier ul li:nth-child(4){background-image:url(../images/print.png);}
.supplier ul li:nth-child(5){background-image:url(../images/clear.png);}
.supplier ul li:nth-child(6){background-image:url(../images/close.png);}

.tasks ul li a{
    text-decoration:none;
    color:#ffffff;
}
.fifty{
    width:50%;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.tenpercnt{
    width:10%;
    float:left;
}
.ninetypercnt{
    width:90%;
    float: right;
    background: #ffffff;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 50px;
}
.left_div{
    width:15%;
}
.right_div{
    width:84%;
}
.search{
    width:20%;
    background:;
    float:left;
}
.search_details{
    background:#e4f2d9;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    padding:5px;
}
.search_box{
    width: 91%;
    margin: auto;
    border: 1px solid #8ab367;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    height:148px;
    font-size:89%;
}
.search_box a{
    color:#8ab367;
    text-decoration:none;
}
.search h6{
    color:#8ab367;
    font-size:14px;
    margin-left:4px;
}
.details{
    width: 78%;
    background: #ffffff;
    float: right;
    border: 1px solid #ccc;
    padding: 5px;
}
input, 
select{width:102px;}
button{padding:5px 15px;}
.thirty_percnt{
    width: 29.8%;
    margin: 0px 13px;
    float: left;
    font-size:90% !important;
}
.details_nav ul li{
    float: left;
    list-style:none;
    margin:0 10px;
}
.product_details{
    border: 1px solid #ccc;
    background: #f2f2f2;
}
.product_details div{
    float:left;
    width:15.99%;
    border:1px solid #cccccc;
    position: relative;
    margin-top: 0;
    line-height: 23px;
    border-top: 0;
    border-left: 0;
}
.product_details div input{
    width: 100% !important;
    border-radius: 0;
    margin: 2px auto;
    font-size: 13px !important;
    text-align: center;
}
.product_details div .snd_raw{background-color:#f2f2f2;}
.product_details div h3{
    text-align: center;
    height: 26px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 14px !important;
    padding-top: 8px;
}
div.blank_div p{
    border:0px solid #f2f2f2;clear:both;
    background-image:url('../images/ra.png');
    background-repeat:no-repeat;
    background-position:5px 10px;
    background-size:14px 18px;
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../images/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(../images/zuuDDmIlQfJeEM3Uf6kkpvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
select, 
input{
    width: 200px !important;
    height: 28px !important;
}
.details input, 
.details select{
    width: 190px !important;
    height: 28px !important;
    margin-bottom: 3px;
}

textarea{
    width:250px !important;
}
h2{
    font-size:15.5px !important;
}
div.fifty .container, 
div.fifty .span12{
    width:94%;
}
.same_width{
    width:6%;
}
.quote_list_nav_top{
    height:20px;
}
.quote_list_nav_top ul li,
.quote_list_nav_bottom ul li{
    float:left;
    margin:0 10px;
}
.quote_list_nav_bottom{
    height:80px;	
}
.quote_list_nav_bottom ul li{
    width: 55px;
    padding-top: 40px;
    text-align: center;
    background-position: 7px 0px;
    background-size: 40px 40px;
}
.quote_list_nav_bottom ul li a{

}
.select_span{
    height:40px;
}
.reports-order-txtarea input, 
.ascdec .fl input, 
.ascdec .fr input{
    width: 25px !important;
    margin-top: -2px;
}
.reports-order-txtarea textarea{
    width: 100% !important;
    height: 100px;
    margin-bottom:20px;
}
.btn .caret{
    margin-top: 10px !important;
    margin-left: 6px !important;
}
.select_div{
    height:20px;
}
.select_div1{
    height:40px;
}
.product_details.new_quote_details [class*="span"], 
.row-fluid .product_details.sales_order_details [class*="span"]{
    margin-left: 0px;
}
.row-fluid .product_details.sales_order_details .span2 {
    /*width: 13.529915%;*/
}
.dropdown-menu .divider{
    height:2px !important;
}
div.bs-docs-example{
    position: relative;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 5px !important;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6) !important;
}
ol.carousel-indicators{
    display:none !important;
}
.product_details .wh_100{
    height:50px;
    width:100%;
    background:;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-align:center;
}
.product_details .wh_100 img{
    width:80%;
}
div.right_div h2{
    font-size: 32px !important;
    height: auto;
    font-weight: bold;
    color: #555555 !important;
    background: #f2f2f2;
    padding: 10px;
}
div.right_div .inventory_summary .btn-group h2{
    font-size: 20px !important;
    height: auto;
    font-weight: bold;
    color: #555555 !important;
    background: transparent;
    padding: 0px;
}
.dropdown-menu .divider {
    background-color: #3f9335 !important;
    width: 80% !important;
    margin: 9px auto !important;
}
.general .dropdown-menu>li>a:focus, 
.general .dropdown-menu>li>a:hover{
    background-image: #3f9335 !important;
    background-color: #3f9335 !important;
    background:#3f9335 !important;
    color:#ffffff !important;
    margin-left:30px;
}
.general .dropdown-menu>li>a {
    padding: 3px 36px !important;
}
.general .dropdown-menu>li>a:hover {
    padding: 3px 15px !important;
}
div.inventory_summary{
    background-image:url('../images/inflow_banner.png');
    background-repeat:no-repeat;
    background-size:863px 492px;
    background-position:;
    width:100%;
    height:492px;
    position:relative;
}
div.inventory_summary ul{
    border: 0;
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    background-color:transparent;
    margin:0 -24px;
}
div.inventory_summary .vendor ul{
    margin:0 -8px;
}
div.inventory_summary .purchase ul{
    margin:0 0px;
}
div.inventory_summary .inventory1 ul{
    margin:0 0px;
}
div.inventory_summary .sales1 ul{
    margin:0 28px;
}
div.inventory_summary .customer ul{
    margin:0 0px;
}
div.inventory_summary ul li{
    display: block;
    float: left;
    margin: 0;
    background-image: none !important;
    width: 181px;
    padding: 0;
}
div.inventory_summary ul li a,
div.inventory_summary ul li a:hover{
    text-decoration:none;
    color:#555555;
    background-color:transparent !important;
    background:transparent !important;
    padding:0 !important;	
}
div.inventory_summary .general .dropdown-menu>li>a:focus, 
div.inventory_summary .general .dropdown-menu>li>a:hover{
    background-image: none !important;
    background-color: transparent !important;
    background:transparent !important;
    color:#555555 !important;
    margin-left:0px;
}
div.inventory_summary .general .dropdown-menu>li>a {
    padding: 0 !important;
}
div.inventory_summary .general .dropdown-menu>li>a:hover {
    padding: 0 !important;
}
div.inventory_summary ul li a span,
div.inventory_summary ul li a span:hover{
    clear:both;
    font-size:13px !important;
    margin:10px 0;
    float:;
    color:#555555;
}
div.inventory_summary .btn-toolbar,
div.inventory_summary .btn-toolbar:hover{
    position: absolute;
    top: 240px;
    left: 48px;
}
div.inventory_summary .btn.btn-success.dropdown-toggle,
div.inventory_summary .btn.btn-success.dropdown-toggle:hover,
div.inventory_summary .btn-success,
div.inventory_summary .btn-success:hover{
    background-color: transparent !important;
    border-color: transparent;
    color: transparent !important;
    border:0;
    background-image:none;
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    text-shadow:0 0 0;
}
div.inventory_summary .btn-toolbar .btn-group{
    margin: 24px 27px 27px 18px;
}

div.inventory_summary .ninetypercnt h2 {
    font-size: 18px !important;
    height: 20px;
    font-weight: bold;
    text-shadow: 0 0 0;
    color: #555 !important;
}
div.inventory_summary h2:hover{
    color:#51a351 !important;
}
.ninetypercnt.fr.right_div.span11{
    width:95%;
    margin-top:25px;
}
.ninetypercnt.fr.right_div.span11 .row-fluid .span9{
    width:75.358974%;
}
.shortcut.span3{
    background: #f2f2f2;
    padding: 10px;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.shortcut.span3 h1{
    color: #555555 !important;
    font-size: 22px !important;
    font-weight: bold;
}
div.shortcut_menu ul li{
    background-repeat:no-repeat;
    background-size:41px 38px;
    padding-left: 53px;
    height: 38px;
    padding-top: 7px;
}
div.shortcut_menu ul li:nth-child(1){
    background-image:url('../images/dashboard.png');
}
div.shortcut_menu ul li:nth-child(2){
    background-image:url('../images/reports-short.png');
}
div.shortcut_menu ul li:nth-child(3){
    background-image:url('../images/setting.png');
}
div.shortcut_menu ul li:nth-child(4){
    background-image:url('../images/upgrade.png');
}
.row-fluid .product_list .span2{
    width:20%;
}
/***********************************************************************************************/
div.shortcut_menu{

}
div.shortcut_menu ul{
    margin-left:0;
}
div.shortcut_menu ul li{

}
div.shortcut_menu ul li a{
    text-decoration:none;
    color:#555555;
}
div.shortcut_menu ul li a:hover{
    color:#51a351 !important;
}
.product_pricing #tabs1-pane1 select, input {
    width: 144px !important;
    height: 28px !important;
}
.prod_prc_btn{
    position: relative;
    margin: -18px 37px;
}
.current_stock .product_details div.span2{
    width:20%;
}
.dropdown-menu>li>a:hover{
    background-color:#5cb85c !important;
    color:#ffffff !important;
}
/***********************************************************************************************/
.span12.sales_view_block{
	width:100% !important;
}
.sales_view_block{
    margin-left: 2px !important;
    border:0px !important;
    width: 32% !important;
}
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product div.search_details .hundrd .product_details .sales_view_block{
    width: 24% !important;
}
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product div.search_details .hundrd .product_details .sales_view_block.sales_view_block11{
	width:100% !important;
}
.sales_view_block1{
    margin-left: -5px !important;
}
.sales_view{
    clear:both !important;
    width: 100% !important;
    border-bottom: 0 none !important;
    border-top: 1px solid #CCCCCC !important;
    margin-top: 2px !important;
    width: 97.906% !important;
    border:1px solid #ccc !important;
    margin-left: 7px !important;
}
.sales_view a{
    display: block !important;
    margin-top: 0 !important;
    width: 100% !important;
    text-align: center !important;
}
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product div.search_details .hundrd .product_details .sales_view_block .sales_view a{
    margin-top: 4px !important;
}
.extra_customer .thirty_percnt{
    width: 26.8% !important;
     margin-top: 10px;
}
.extra_customer .thirty_percnt.refresh{
    margin: 6px 0 0 -10px;
}
.extra_customer .thirty_percnt.refresh input{
    margin-bottom:3px;
}
.extra_customer .thirty_percnt.refresh .fr{
    margin-right: -40px;
}
div.customer_search .span3{
    width: 58.077% !important;
}
.cust_popup{
    margin: 29px 0 0 59px !important;
}
/**************************************************************/
.product_details div.product_pop{
    
}
.dropdown.cust_popup_product_block{
    width: 193%;
}
.dropdown.cust_popup_product_block .dropdown-toggle{
    
}
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product{
    border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    width: 168% !important;
	border: 0 none;
    box-shadow: 0 0 0;
}
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product div.search_details{
    width: 198%;
}
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product div.search_details .hundrd{
    width: 100%;
}
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product div.search_details .hundrd .product_details,
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product div.search_details .hundrd .extra_customer,
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product div.search_details .hundrd .customer_search{
    width: 100%;
}
.thirty_percnt div.clr span.fl{
	width:29%;
}
.thirty_percnt div.clr span.fr{
	float: left;
    margin-left: 10px;
    width: 65%;
}
.thirty_percnt div.clr span.fr input,
.thirty_percnt div.clr span.fr select{
	width:100% !important;
}
.thirty_percnt.span3 div.clr span.fr input,
.thirty_percnt.span3 div.clr span.fr select{
	
}
/**************************************************************/
div.customer_search{
    height: auto;
    padding: 22px 0 0;
}
.show_all{
    display: block;
    float: none;
    height: 28px;
    margin-left: -40px;
    width: 100%;
}
.dropdown.cust_popup_product_block div.dropdown-menu.cust_popup_product div.search_details .hundrd .extra_customer .show_all{
    border: 0 none !important;
    display: block;
    float: none;
    height: 28px;
    margin-left: 0;
    width: 100% !important;
}
div.cust_popup_product_block .extra_customer .thirty_percnt .span12,
div.cust_popup_product_block .extra_customer .thirty_percnt{
	border:0;
	width:28% !important;
}
div.cust_popup_product_block .extra_customer .thirty_percnt .fr {
    margin-bottom: 5px;
    margin-right: 0;
    margin-top: 5px;
}
div.cust_popup_product_block .customer_search .thirty_percnt{
	border:0;
}
div.cust_popup_product_block .customer_search .thirty_percnt .span12{
	border:0;
}
div.cust_popup_product_block .customer_search .thirty_percnt .span12 button.btn.btn-success.fr{
	margin-right:26px;
}
.product_details div input{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
div.cust_popup_product_block .extra_customer .thirty_percnt.refresh input {
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    margin-bottom: 0;
}
div.product_details12 div.sales_view_block span.sales_view_block input.fl{
	margin: 3px 12px 3px 0px;
	width: 31.5% !important;
}
div.product_details13 div.sales_view_block span.sales_view_block input.fl{
	margin: 3px 12px 3px 0px;
	width: 14.5% !important;
}
.sales_view_block span.view{
	width: 32% !important;
	float: right;
	position: relative;
	margin-top: -31px !important;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
div.search_box input,
div.search_box select{
	width:144px !important;
}
div.search_box span.fr{
	height:30px;
}
div.search_box{
	height:auto;
	padding-top:15px;
	margin-bottom:10px;
}
/***********************************************************************************************/
.signup-portion{
	float:right !important;
	text-align:right !important;
}
.logo-portion img{
	width:300px;
	height:100px;
}
div.copyright{
	float:right !important;
	text-align:right !important;
}
div.copyright ul{
	float:right;
}
div.copyright ul li{
	float:left;
	margin:0 5px;
}
div.footer-portion{
	margin-left: 0px !important;
	padding: 13px 13px 8px 13px;
	position: fixed;
	margin-top: 280px;
	background: #f2f2f2;
	z-index: 999999;
	width: 86.7% !important;
}
div.footer-portion a,
div.copyright ul li a{
	text-transform: capitalize;
	text-decoration:none;
	color:#555555;
}
div.footer-portion a:hover,
div.copyright ul li a:hover{
	color:#000000;
}
div.copyright ul li a:hover{
	color: maroon;
}
div.col-12 div.btn-toolbar div.btn-group:nth-child(4),
div.col-12 div.btn-toolbar div.btn-group:nth-child(5),
div.col-12 div.btn-toolbar div.btn-group:nth-child(6),
div.col-12 div.btn-toolbar div.btn-group:nth-child(7),
div.col-12 div.btn-toolbar div.btn-group:nth-child(8){
     position: relative;
     z-index: 999999;
}
/***********************************************************************************************/
@media (min-width: 1200px){
    .row-fluid .clr.product_details.sales_order_details.specific.span10{
        width: 96.905983%;
    }
    .row-fluid .clr.product_details.sales_order_details.specific.span10 .span1{
        width: 9.7% !important;
    }
    .row-fluid #tabs1-pane7 .span11 , 
    .row-fluid #tabs1-pane6 .span11 {
        width: 97.452991%;
    }
    .row-fluid #tabs1-pane6 .span11 .span2 {
        width: 12.5%;
    }
    .row-fluid #tabs1-pane7 .span11 .span2 {
        width: 11.1%;
    }
}